<div class="month-shedule-container" *ngIf="filtredTasks">
    <div class="selected-range">
        <h2>{{ displayedDays[0] | date: 'dd' }} - {{ displayedDays[displayedDays.length - 1] | date: 'dd MMMM, yyyy' }}</h2>
        <div class="btn">
            <button mat-raised-button color="accent" (click)="addNewTask()">New task</button>
        </div>
    </div>
    <div class="table" *ngIf="weekDaysArr">
        <div class="shedule">
            <div class="date-block">
                <div class="day" *ngFor="let dayOfWeek of weekDaysArr">
                    <span>{{ dayOfWeek }}</span>
                </div>
            </div>
            <div class="ceil-block" [ngStyle]="{ 'grid-template-columns': 'repeat(' + weekDaysArr.length + ', minmax(90px, 1fr))' }">
                <div
                    class="day-in-ceil-block"
                    *ngFor="let day of allCeil; let i = index"
                    [ngClass]="{ selected: i === numberOfSelectedDay }">
                    <div class="ceil" (click)="day.date && addNewTask(day.date)">
                        <p *ngIf="day.date; else elseBlock">
                            {{ day.date | date: 'd MMM' }} 
                        </p>
                        <div *ngIf="day.tasks.length">
                            <div *ngFor="let task of day.tasks" class="task-view">
                                <div class="task" (click)="task && showTaskInfo(task)"><p>{{ task.title }}</p></div>
                            </div>
                        </div>
                        <ng-template #elseBlock></ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
