.mat-dialog-title {
    margin: 0 0 8px;
}

.bolder {
    font-weight: 600;
}

.task-description p {
    line-height: 1.5em;
}

.mat-dialog-actions {
    margin-right: 8px;
    display: flex;
    float: right;
}

button {
    width: 112px;
}
