<div class="modal-container">
  <h1 mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content>
    <div class="task-description">
      <p>{{ confirmTxt }}</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">{{ cancelButtonTxt }}</button>
    <button *ngIf="task" mat-button color="warn" (click)="deleteTask()">{{ confirmButtonTxt }}</button>
    <button *ngIf="!task" mat-button color="warn" (click)="closeModale()">{{ confirmButtonTxt }}</button>
  </div>
</div>