<div class="modal-container">
  <h1 mat-dialog-title>{{ task.title }}</h1>
  <div mat-dialog-content>
    <div class="task-time">
      <span>{{ date }}</span>
    </div>
    <div class="task-description" *ngIf="task.description">
      <p><span class="bolder">Description: </span>{{ task.description }}</p>
    </div>
    <div class="task-resp-user">
      <p><span class="bolder">Responsible user: </span>{{ task.responsibleUser.fullName }}</p>
    </div>
    <div class="task-type">
      <p><span class="bolder">Type: </span>{{ task.type }}</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="delete-button">
      <button mat-button color="warn" (click)="deleteTask()" (mousedown)="deleteTask()">Delete</button>
    </div>
    <div class="right-buttons">
      <button mat-button (click)="onCancelClick()" (mousedown)="onCancelClick()">Cancel</button>
      <button mat-raised-button color="accent" (click)="editTask()" (mousedown)="editTask()">Edit</button>
    </div>
  </div>
</div>