.mat-dialog-title {
    margin: 0 0 4px;
}

.task-time {
    color: rgb(130, 130, 130);
    margin-bottom: 16px;
    font-size: 14px;
}

.bolder {
    font-weight: 600;
}

p {
    margin: 4px 0;
    line-height: 1.4em;
}

.mat-dialog-actions {
    margin-top: 12px;
    margin-right: 8px;
    display: block;
}

.delete-button {
    float: left;
}

.right-buttons {
    right: 0;
    float: right;
}

button {
    width: 112px;
}
