.mat-dialog-title {
    margin: 0 0 4px;
    text-align: left;
}

.task-time {
    color: rgb(130, 130, 130);
    margin-bottom: 16px;
    font-size: 14px;
}

.bolder {
    font-weight: 600;
}

p {
    margin: 4px 0;
    line-height: 1.4em;
}

.mat-dialog-actions {
    margin-top: 12px;
    margin-right: 8px;
    display: block;
}

.mat-dialog-content {
    text-align: left;
}

@media (max-width: 499px) {
    .mat-dialog-actions {
        display: table-caption;
        width: 100%;
    }

    .mat-dialog-actions .mat-button-base+.mat-button-base, .delete-button {
        margin: 8px 0;
    }
   
    .modal-container {
        text-align: -webkit-center;
    }
}

.modal-container {
    width: 100%;
    max-width: 100%;
}

.delete-button {
    float: left;
}

.right-buttons {
    right: 0;
    float: right;
}

button {
    width: 112px;
}
