<div class="day-schedule-container">
    <div class="selected-range">
        <h2>{{ selectedDay | date: 'dd MMMM, yyyy' }}</h2>
        <div class="btn">
            <button mat-raised-button color="accent" (click)="addNewTask()">New task</button>
        </div>
    </div>
    <div class="table">
        <div>
            <div class="empty-block"></div>
            <div class="time-block" [ngStyle]="{ 'grid-template-rows': 'repeat(' + workingHours.length + ', 1fr)' }">
                <div class="time" *ngFor="let time of workingHours">
                    <span>{{ time }}</span>
                </div>
            </div>
        </div>
        <div class="schedule">
            <div class="date-block">
                <div class="day">
                    <span>{{ selectedDay | date: 'EEEE' }}</span>
                </div>
            </div>
            <div class="ceil-block">
                <div class="day-in-ceil-block" [ngStyle]="{ 'grid-template-rows': 'repeat(' + workingHours.length + ', 1fr)' }">
                    <div class="ceil" *ngFor="let hour of workingHours">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
