::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    width: 100%;
    height: calc(100% - 52px);
    margin-top: 8px;
}

.filters {
    padding: 8px 16px 16px;
    width: 260px;
    max-width: 260px;
    min-width: 260px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
}

.working-day-filter {
    width: 240px;
    margin: 8px 16px;
}

.range-selector {
    width: 240px;
    margin: 16px 16px 0;
}

.interval-selector {
    width: 240px;
    margin: 16px 16px 0;
}

.calendar  {
    width: 256px;
    margin: -8px 0 0 0;
}

.type-filter, .responsible-user-filter {
    width: 240px;
    margin: 8px 16px 16px;
}

.type-filter h4, .responsible-user-filter h4 {
    margin-bottom: 10px;
}

section.checkbox {
    margin: 4px 0;
}

.schedule-day, .schedule-week, .schedule-month {
    min-width: 116px;
    width: calc(100% - 256px);
    padding: 8px 0 0 24px;
    height: 100%;
    overflow-y: hidden;
}

@media (min-width: 979px) {
    .schedule-day, .schedule-week, .schedule-month {
        overflow: hidden;
    } 
}

@media (max-width: 980px) {
    .schedule-day, .schedule-week, .schedule-month {
        width: calc(100% - 256px);
    } 
}

@media (min-height: 600px) {
    .schedule-day, .schedule-week, .schedule-month {
        min-height: 520px;
    } 
}

@media (max-height: 599px) {
    .schedule-day, .schedule-week, .schedule-month {
        height: calc(100% - 8px);
    } 
}
