<div class="loading" *ngIf="!allCell">
    <h5>loading...</h5>
</div>
<div class="week-schedule-container" *ngIf="allCell" (click)="dragDropMode && stopDragTask()"
    (mousemove)="dragTask.task && getTaskPosition($event)">
    <div class="drag-task" *ngIf="dragDropMode && dragTask.top"
        [ngStyle]="dragTask.task && { 'left': dragTask.left, 'top': dragTask.top }"
        [ngClass]="'task color' + dragTask.task.responsibleUser.id">
        <p>{{ dragTask.task.title }}</p>
    </div>
    <div class="selected-range">
        <h2>{{ displayedDays[0] | date: 'dd MMMM' }} -
            {{ displayedDays[displayedDays.length - 1] | date: 'dd MMMM, yyyy' }}</h2>
        <div class="btn">
            <button mat-raised-button color="accent" (click)="addNewTask()">New task</button>
        </div>
    </div>
    <div class="table">
        <div>
            <div class="empty-block"></div>
            <div class="time-block" [ngStyle]="{ 'grid-template-rows': 'repeat(' + workingHours.length + ', 1fr)' }">
                <div class="time" *ngFor="let time of workingHours">
                    <span>{{ time }}</span>
                </div>
            </div>
        </div>
        <div class="schedule">
            <div class="date-block">
                <div class="day" *ngFor="let day of displayedDays; let i = index"
                    [ngClass]="{ selected: i === numberOfSelectedDay }">
                    <span>{{ day | date: 'EE, dd MMM' }}</span>
                </div>
            </div>
            <div class="cell-block" [ngStyle]="{
                    'grid-template-columns': 'repeat(' + displayedDays.length + ', 1fr)',
                    'grid-template-rows': 'repeat(' + workingHours.length + ', minmax(17px, 1fr))'
                }">
                <div *ngFor="let cell of allCell; let i = index" class="cell" [ngClass]="
                        i / workingHours.length >= numberOfSelectedDay &&
                        i / workingHours.length < numberOfSelectedDay + 1 ?
                        'cell selected' : 'cell'" (click)="!cell.content && addNewTask(cell.time)"
                    (mouseup)="dragDropMode && updateTask(cell.time)"
                    [ngStyle]="{ 'grid-column': cell.column, 'grid-row': cell.row }">
                    <div class="place-for-task" *ngIf="dragDropMode && cell.time"><span class="vr-line"></span></div>
                    <div *ngIf="cell.content" class="cell-with-content">
                        <div *ngIf="!cell.subgrid; else taskBlock" (click)="showTaskInfo(cell.info)"
                            (mousedown)="!showTaskInfoMode && cell.content && tapTask(cell.info)"
                            (mouseup)="dragDropMode && updateTask(cell.info.start)"
                            [ngClass]="'task color' + cell.info.responsibleUser.id">
                            <p class="task-title">{{ cell.info.title }}</p>
                            <p>{{ cell.info.description }}</p>
                        </div>
                        <ng-template #taskBlock>
                            <div class="task-block" (mouseup)="dragDropMode && updateTask(cell.groupStartTime)"
                                (click)="cell.content && addNewTask(cell.groupStartTime)"
                                [ngStyle]="{
                                    'grid-template-columns': 'repeat(' + cell.subgridColumn + ', minmax(24px, 1fr))',
                                    'grid-template-rows': 'repeat(' + cell.subgridRow + ', minmax(17px, 1fr))'
                                }">
                                <div *ngFor="let task of cell.tasks"
                                    [ngClass]="'task color' + task.info.responsibleUser.id"
                                    (click)="showTaskInfo(task.info)"
                                    (mousedown)="!showTaskInfoMode && task && tapTask(task.info)"
                                    (mouseup)="dragDropMode && updateTask(task.info.start)"
                                    [ngStyle]="{ 'grid-column': task.column, 'grid-row': task.row }">
                                    <p class="task-title">{{ task.info.title }}</p>
                                    <p>{{ task.info.description }}</p>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>