::-webkit-scrollbar {
    display: none;
}

.loading {
    margin: 0;
    height: 100%;
    width: 100%;
}

.loading h5 {
    color: grey;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 40%;
}

.week-schedule-container {
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 660px;
}

.selected-range {
    display: flex;
    height: 58px;
}

.selected-range .btn {
    margin: auto;
    margin-right: 8px;
}

button {
    width: 112px;
}

button:hover {
    background-color: #ff246d;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2) !important;
}

button:active {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2) !important;
}

.selected-range h2 {
    padding-left: 56px;
}

.table {
    height: calc(100% - 56px);
    width: 100%;
    display: flex;
}

.empty-block {
    width: 56px;
    height: 48px;
}

.time-block {
    width: 56px;
    height: calc(100% - 56px);
    display: grid;
    align-items: center;
}

.time-block .time {
    text-align: center;
    height: 100%;
}

.time-block .time span {
    height: 100%;
}

.schedule {
    height: 100%;
    width: calc(100% - 56px);
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    border-right: 1px solid rgba(235, 235, 235, 0.4);
}

.date-block {
    height: 48px;
    width: 100%;
    display: flex;
}

.date-block .day {
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid rgba(235, 235, 235, 0.4);
    border-left: 1px solid rgba(235, 235, 235, 0.4);
    text-align: center;
}

.day span {
    font-weight: 500;
}

.selected {
    background-color: rgba(103, 164, 255, 0.1);
}

.cell-block {
    display: grid;
    height: calc(100% - 56px);
}

.cell-block .cell {
    margin: auto;
    border-top: 1px solid rgba(235, 235, 235, 0.4);
    border-left: 1px solid rgba(235, 235, 235, 0.4);
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cell-with-content {
    height: 100%;
    max-width: 98%;
    margin-left: 1px;
}

.task-block {
    display: grid;
    height: 100%;
}

.task {
    background-color: #10bd8f;
    border-radius: 4px;
    color: white;
    margin: 0 2px 2px;
    height: calc(100% - 4px);
    text-align: left;
    overflow: hidden;
    min-width: 20px;
}

.color1 {
    background-color: #ff40d6b3;
}

.color2 {
    background-color: #1976d2bd;
}

.color3 {
    background-color: #10bd8fba;
}

.task p {
    padding: 0 2px;
    margin: 2px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title {
    font-weight: 700;
}

.drag-task p {
    padding: 4px;
    margin: 0;
    size: 12;
    white-space: nowrap;
    overflow: auto;
    white-space: inherit;
}

.drag-task {
    border-radius: 4px;
    color: white;
    width: 100px;
    height: 75px;
    text-align: left;
    margin: 2px;
    position: absolute;
}

.place-for-task {
    height: 100%;
    width: 100%;
    position: absolute;
}

span.vr-line {
    margin: 2px;
    height: 24px;
    width: 1px;
    min-width: 1px;
    display: table-caption;
    background-color: rgba(93, 125, 255, 0.5);
    display: none;
}

.place-for-task:hover span.vr-line {
    display: block;
}
